.profile__open-popup {
        width: 24px;
        height: 24px;
        align-self: center;
        border: 1px solid rgba(255, 255, 255, 1);
        margin: 0;
        padding: 0;
        background-image: url(../../../images/PensilSVG.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        background-color: transparent;
        cursor: pointer;
        overflow: hidden;
        background-size: 10px;
    }
    
    .profile__open-popup:hover {
        opacity: 0.6;
    }
    @media screen and (max-width: 665px) {
        .profile__open-popup {
            width: 18px;
            height: 18px;
            background-size: 7.5px;
        }
    }
