.profile__open-popup {
        width: 24px;
        height: 24px;
        align-self: center;
        border: 1px solid rgba(255, 255, 255, 1);
        /*background-color: rgba(0, 0, 0, 1);*/
        background-color: transparent;
        margin: 0;
        padding: 0;
        cursor: pointer;
    }
    
    .profile__open-popup:hover {
        opacity: 0.6;
    }
    @media screen and (max-width: 665px) {
        .profile__open-popup {
            width: 18px;
            height: 18px;
        }
    }
