.popup__input {
    width: 430px;
    height: 330px;
    margin: 0 auto;
    padding: 0;
    border: 0;
    display: flex;
    flex-direction: column;
    gap: 0px;
}

@media screen and (max-width: 580px) {
    .popup__input {
        width: 282px;
        height: 322px;
        padding: 0;
    }
}