.popup__container {
    position: relative;
    width: 430px;
    height: 330px;
    margin: 0;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 10px;
    /*box-shadow: rgba(0, 0, 0, 0.15);
    filter: blur(25px);
    -webkit-filter: blur(25px);*/
}

@media screen and (max-width: 580px) {
    .popup__container {
        width: 282px;
        height: 322px;
     }
}