.profile {
    max-width: 880px;
    margin: 40px auto 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
    
}

@media screen and (max-width: 665px) {
    .profile {
        max-width: 282px;
        justify-content: center;
    }
}
/*.profile {
    display: grid;
    grid-template-columns: 120px 336px minmax(min-content, 364px);
    grid-auto-flow: column;
    gap: 30px;
    max-width: 880px;
    margin: 40px auto 50px;
}

@media screen and (max-width: 665px) {
    .profile {
        grid-template-columns: 336px;
        grid-template-rows: 120px 73px 50px;
        row-gap: 22px;
        align-items: center;
        justify-content: center;
        margin: 42px auto 36px;
    }
}*/