.elements__card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 282px;
    /*height: 361px;*/
    margin: 0;
    background-size: cover;
    background-color: #FFFFFF;
    border-radius: 10px;
    overflow: hidden;
}