.profile__editbtn {
    width: 24px;
    height: 24px;
    align-self: center;
    border: 1px solid rgba(255, 255, 255, 1);
    background-color: rgba(0, 0, 0, 1);
    margin: 0;
    padding: 0;
}

.profile__editbtn:hover {
    opacity: 0.6;
}
@media screen and (max-width: 665px) {
    .profile__editbtn {
        width: 18px;
        height: 18px;
    }
}