.header__line {
    width: 100%;
    border: 1px solid rgba(84, 84, 84, 1);
    margin: 0 auto;
}
@media screen and (max-width: 580px) {
    .header__line {
        width: 320px;
        margin: 0 auto;
    }
}