.header__logo {
    margin: 0;
    width: 142px;
    height: 33px;
}
@media screen and (max-width: 580px) {
    .header__logo {
        max-width: 104px;
        max-height: 24px;
        margin-left: 27px;
    }
}