.profile__flex-btn {
    margin-left: auto;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    max-width: 364px;
}

@media screen and (max-width: 665px) {
    .profile__flex-btn {
        margin: 0 auto;
        max-width: 282px;
    }
}