.profile__flexbtn {
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    max-width: 364px;
}

@media screen and (max-width: 665px) {
    .profile__flexbtn {
        margin: 0 auto;
        padding: 0;
        max-width: 282px;
    }
}