.popup__submit {
    width: 358px;
    height: 50px;
    margin: 48px auto 37px;
    padding: 0;
    border: 0;
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0em;
    text-align: center;
    background-color: rgba(0, 0, 0, 1);
    /*background-color: transparent;*/
    color: rgba(255, 255, 255, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.popup__submit:hover {
    opacity: 0.8
}
    

@media screen and (max-width: 580px) {
    .popup__submit {
        width: 238px;
        height: 46px;
        margin: 45px auto 25px;
        font-size: 14px;
    }
}