.profile__menu {
    max-width: 336px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    gap: 18px;
}
@media screen and (max-width: 665px) {
    .profile__menu {
        justify-content: center;
        max-width: 217px;
        margin: 0 19px 0 46px;
        gap: 10px;
    }
}
