.elements__name {
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-size: 22px;
    font-weight: 900;
    line-height: 1.21;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(0, 0, 0, 1);
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 246px;
    width: 100%;
}
