.profile__name {
    font-family: Inter;
    font-style: normal;
    font-size: 42px;
    font-weight: 500;
    line-height: 114%;
    letter-spacing: 0em;
    text-align: start;
    
    color: rgba(255, 255, 255, 1);
    margin: 0;
}
@media screen and (max-width: 665px) {
    .profile__name {
        font-family: Inter;
        font-size: 25px;
        font-weight: 500;
        line-height: 114%;
        letter-spacing: 0em;
        text-align: center;
    }
}

