.profile__name {
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-size: 42px;
    font-weight: 500;
    line-height: 114%;
    letter-spacing: 0em;
    text-align: start;
    color: rgba(255, 255, 255, 1);
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 336px;
}
@media screen and (max-width: 665px) {
    .profile__name {
        font-size: 25px;
        text-align: center;
        max-width: 282px;
    }
}

